Proyecto_Taller/Connected Services/ServiceReference1/MiServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Consulta_Tabla">
        <s:complexType />
      </s:element>
      <s:element name="Consulta_TablaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Consulta_TablaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consulta_Id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consulta_IdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Consulta_IdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consulta_Marca">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consulta_MarcaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Consulta_MarcaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Consulta_TablaSoapIn">
    <wsdl:part name="parameters" element="tns:Consulta_Tabla" />
  </wsdl:message>
  <wsdl:message name="Consulta_TablaSoapOut">
    <wsdl:part name="parameters" element="tns:Consulta_TablaResponse" />
  </wsdl:message>
  <wsdl:message name="Consulta_IdSoapIn">
    <wsdl:part name="parameters" element="tns:Consulta_Id" />
  </wsdl:message>
  <wsdl:message name="Consulta_IdSoapOut">
    <wsdl:part name="parameters" element="tns:Consulta_IdResponse" />
  </wsdl:message>
  <wsdl:message name="Consulta_MarcaSoapIn">
    <wsdl:part name="parameters" element="tns:Consulta_Marca" />
  </wsdl:message>
  <wsdl:message name="Consulta_MarcaSoapOut">
    <wsdl:part name="parameters" element="tns:Consulta_MarcaResponse" />
  </wsdl:message>
  <wsdl:portType name="MiServicioSoap">
    <wsdl:operation name="Consulta_Tabla">
      <wsdl:input message="tns:Consulta_TablaSoapIn" />
      <wsdl:output message="tns:Consulta_TablaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consulta_Id">
      <wsdl:input message="tns:Consulta_IdSoapIn" />
      <wsdl:output message="tns:Consulta_IdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consulta_Marca">
      <wsdl:input message="tns:Consulta_MarcaSoapIn" />
      <wsdl:output message="tns:Consulta_MarcaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiServicioSoap" type="tns:MiServicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consulta_Tabla">
      <soap:operation soapAction="http://tempuri.org/Consulta_Tabla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta_Id">
      <soap:operation soapAction="http://tempuri.org/Consulta_Id" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta_Marca">
      <soap:operation soapAction="http://tempuri.org/Consulta_Marca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiServicioSoap12" type="tns:MiServicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consulta_Tabla">
      <soap12:operation soapAction="http://tempuri.org/Consulta_Tabla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta_Id">
      <soap12:operation soapAction="http://tempuri.org/Consulta_Id" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consulta_Marca">
      <soap12:operation soapAction="http://tempuri.org/Consulta_Marca" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiServicio">
    <wsdl:port name="MiServicioSoap" binding="tns:MiServicioSoap">
      <soap:address location="https://localhost:44391/MiServicio.asmx" />
    </wsdl:port>
    <wsdl:port name="MiServicioSoap12" binding="tns:MiServicioSoap12">
      <soap12:address location="https://localhost:44391/MiServicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>